.private-layout {
    position: relative;
    // overflow: hidden;
    min-height: 100vh;

    * {
        font-family: "Poppins";
    }

    > .ant-layout {
        background-color: transparent;
        max-width: 100%;
        margin-left: 240px;

        transition: all 0.25s, background 0s;

        &.ant-layout-has-collapse {
            margin-left: 55px;
            max-width: 100%;
        }

        > .ant-layout-content {
            background-color: #ffffff;

            // @include atsm {
            //     margin-top: 70px;
            // }

            > .ant-card {
                border-top: 1px solid #58585a;
                background-color: transparent;
                height: 100%;

                > .ant-card-body {
                    padding: 20px;
                    background-color: transparent;
                }
            }
        }

        > .ant-layout-footer {
            padding: 15px 20px;
            border-top: 1px solid #58585a;
        }
    }
}

.notification-notice {
    background: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* width: 390px; */
    z-index: 9999999;
    padding: 15px 17px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.47);

    .notification-notice-content {
        display: flex;
        gap: 8px;

        .notification-notice-message {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 18;
                font-weight: 700;
            }

            .description {
                font-size: 14;
            }

            .action {
                margin-top: 10px;

                .ant-btn {
                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }

        .notification-notice-icon {
            svg {
                font-size: 40px;
            }
        }
    }
}
