.ant-picker-calendar.faculty-calendar {
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(23, 26, 31, 0.12);

    .ant-picker-calendar {
        .ant-picker-calendar-header {
            padding-inline: 5%;

            .ant-radio-group {
                display: none;
            }
        }
        .ant-picker-panel {
            padding-inline: 5%;

            .ant-picker-date-panel {
                .ant-picker-body {
                    .ant-picker-content {
                        th {
                            font-weight: bold;
                            font-size: 16px;
                            padding-bottom: 8px;
                            color: #2c3d8f;
                        }

                        .ant-picker-cell-selected {
                            .ant-picker-calendar-date {
                                background: #2c3d8f;
                                color: white;
                                border: 0;
                            }
                        }
                        .ant-picker-cell-inner::before {
                            border: 1px solid #a5a9bf;
                        }
                    }
                }
            }
        }
    }
}

.ant-picker-calendar.student-calendar-wrapper {
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(23, 26, 31, 0.12);

    .ant-flex {
        flex-direction: row-reverse;
        padding-inline: 8px;
        padding-block: 12px;
        margin-bottom: 0 !important;

        .ant-flex {
            flex-direction: row;
            padding: 0;

            .ant-select {
                display: flex;
                align-items: center;

                .ant-select-selector {
                    padding-block: 20px;
                }
            }
        }
        .ant-btn.today-btn {
            color: #2c3d8f;
            font-weight: 700;
            border: 1px solid #d9d9d9;
            border-radius: 8px;
        }
    }
    .ant-picker-panel {
        padding-inline: 1rem;

        .ant-picker-date-panel {
            .ant-picker-body {
                .ant-picker-content {
                    thead {
                        th {
                            font-weight: bold;
                            font-size: 16px;
                            padding-block: 12px;
                            color: #2c3d8f;
                        }
                    }
                    tbody {
                        height: 244px;

                        tr {
                            .ant-picker-cell-selected {
                                .ant-picker-calendar-date {
                                    background: #2c3d8f;
                                    color: white;
                                    border: 0;
                                }
                            }
                            .ant-picker-cell-inner::before {
                                border: 1px solid #a5a9bf;
                            }
                        }
                    }
                }
            }
        }
    }
}
