#page_faculty_documents {
    .ant-layout-content {
        padding-block: 30px;
        padding-inline: 5%;
        gap: 10px;
        height: 90vh;
    }
}

#document_searchBar {
    display: flex;
    margin-inline: auto;

    .ant-input-group-wrapper {
        width: 600px;
        .ant-input-wrapper {
            height: 35px;

            .ant-input-affix-wrapper {
                height: 96.5%;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;

                .ant-input {
                    font-family: "Poppins";
                    font-size: 14px;
                    padding-left: 4px;
                }
            }
            .ant-input-group-addon {
                background: none;
            }

            .ant-btn {
                background: #2c3d8f;
                color: white;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                height: 100%;
                box-shadow: none;
            }
        }
    }
}

#document_sidebar {
    background: #f8f9fa;
    height: 72vh;

    .title {
        font-weight: bold;
        margin-inline: 24px;
        padding-block: 22px;
        border-bottom: 1px solid #dee1e6;
    }
    .documents {
        margin-block: 22px;

        #document_radio {
            width: 100%;

            .ant-space {
                width: 100%;
                row-gap: 0px;
                .ant-space-item {
                    .ant-radio-button-wrapper {
                        width: 100%;
                        border: 0;
                        border-radius: 0;
                        background: #f8f9fa;
                        display: flex;
                        height: 50px;
                        align-items: center;
                        padding-inline: 26px;

                        .ant-radio-button:hover {
                            color: #2c3d8f;
                        }
                        .ant-radio-button.ant-radio-button-checked {
                            background: #d9d9d9;
                        }
                    }
                    .ant-radio-button-wrapper-checked {
                        border: 0;
                        color: black;
                    }
                    .ant-radio-button-wrapper:hover {
                        color: black;
                        background: #d9d9d94e;
                    }
                }
            }
        }
    }
    .document_export_button {
        margin-inline: 22px;
        padding-top: 22px;
        border-top: 1px solid #dee1e6;
        .ant-btn {
            background: #2c3d8f;
            color: white;
            font-weight: normal;
            border: none;
        }
    }
}

#document_card {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    top: 0;
    padding: 25px 100px 25px 100px;
    justify-content: center;
}
