#page_faculty_profile {
    .ant-layout-content {
        padding-block: 50px;
        padding-inline: 300px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 90vh;

        .ant-row {
            .ant-col {
                .ant-flex {
                    .ant-btn {
                        height: 40px;
                        font-size: 12px;
                    }
                    .ant-btn.image {
                        background: #2c3d8f;
                        color: white;
                        border-radius: 4px;
                    }
                    .ant-btn.remove {
                        background: white;
                        color: #9095a1;
                        border-radius: 4px;
                        border: 1px solid #9095a1;
                    }
                }
                .general-info {
                }
            }
        }
    }
}
