.CheckboxStudentLogin {
    text-align: justify;
    background: #f2f3fd;
    gap: 8px;
    font-size: 13px;
    margin-inline: -34px;
    margin-bottom: -12px;
    margin-top: 0;
    padding-inline: 26px;
    padding-block: 10px;

    .ant-checkbox {
        align-self: start;

        .ant-checkbox-inner {
            border: 2px solid #d9d9d9;
            height: 18px;
            width: 18px;
            margin-top: 2px;
        }
    }
}

.wrap-student-login-account {
    .ant-form-item {
        .ant-form-item-row {
            .ant-form-item-control {
                .ant-form-item-control-input {
                    .ant-form-item-control-input-content {
                        .ant-input {
                            font-family: "Poppins";
                            font-size: 14px;
                        }
                    }

                    .ant-input-password {
                        .ant-input {
                            font-family: "Poppins";
                            font-size: 14px;
                        }
                    }
                }
            }

            .ant-form-item-label {
                font-weight: normal;
            }
        }
    }
}

.wrap-student-modal-signup {
    font-family: "Poppins";

    .ant-modal {
        .ant-modal-content {
            padding: 0;

            .ant-modal-header {
                border-bottom: 1px solid #dee1e6;
                padding-block: 14px;
                padding-left: 34px;

                .ant-modal-title {
                    font-size: 26px;
                    font-weight: bolder;
                    font-family: "PoppinsBold";
                }
            }

            .ant-modal-body {
                padding-inline: 34px;
            }

            .ant-modal-footer {
                padding-inline: 34px;
                border-top: 1px solid #dee1e6;
                padding-block: 14px;
                font-weight: normal;
            }
        }

        .ant-modal-close {
            margin-right: 20px;
            margin-block: auto;
        }
    }
}

.wrap-student-form-account {
    padding-left: 30px;
    font-family: "Poppins";

    .ant-row {
        .ant-col {
            .ant-input {
                font-family: "Poppins";
            }

            .ant-form-item {
                .ant-form-item-row {
                    .ant-form-item-label {
                        font-weight: normal;

                        .ant-form-item-no-colon {
                            white-space: normal;
                            text-align: start;
                            line-height: 1;
                            width: min-content;
                        }
                    }
                    .ant-form-item-control {
                        .ant-form-item-explain-error {
                            font-weight: normal;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

#studentlogin {
    .studentlogincard {
        .LoginCard {
            width: 100%;
            height: 89vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;

            .logo {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .LoginWelcome {
                font-weight: bold;
                margin-top: 20px;
            }

            .student-signup {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
                margin-top: 10px;
            }
        }
        #header-buttons {
            .ant-btn {
                height: 100%;

                .header-button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .selected-header {
                    color: #2c3d8f;
                    font-weight: bolder;
                    font-family: "Poppins";
                    align-content: center;
                    height: 30px;
                }
                .header-title {
                    font-family: "Poppins";
                    align-content: center;
                    height: 30px;
                }
                .line {
                    background: #ffffff;
                    width: 120px;
                    height: 5px;
                    margin-top: 6px;
                }
                .selected-line {
                    background: #2c3d8f;
                    width: 120px;
                    height: 5px;
                    margin-top: 6px;
                }
            }
            .ant-btn:hover {
                background: #e1e1e1;
            }
        }
    }

    // #header-buttons {
    //     .ant-btn {
    //         height: 100%;

    //         .header-button {
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //         }
    //         .selected-header {
    //             color: #2c3d8f;
    //             font-weight: bolder;
    //             font-family: "Poppins";
    //             align-content: center;
    //             height: 30px;
    //         }
    //         .header-title {
    //             font-family: "Poppins";
    //             align-content: center;
    //             height: 30px;
    //         }
    //         .line {
    //             background: #ffffff;
    //             width: 120px;
    //             height: 5px;
    //             margin-top: 6px;
    //         }
    //         .selected-line {
    //             background: #2c3d8f;
    //             width: 120px;
    //             height: 5px;
    //             margin-top: 6px;
    //         }
    //     }
    //     .ant-btn:hover {
    //         background: #e1e1e1;
    //     }
    // }
}
#studentfeaturescard {
    .Feature {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 30px;
        font-family: "Poppins";
    }
    .FeatureTitle {
        font-size: 20px;
        font-weight: bold;
        font-family: "Poppins";
    }
    .FeatureDesc {
        max-width: 300px;
        color: #bdc1ca;
        font-family: "Poppins";
    }
}
