#PageDashboard {
    .ant-result {
        position: relative;
        overflow: hidden;
        min-height: calc(100vh - 20vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .ant-result-title {
            font-size: 24px;
        }
        .ant-result-extra {
            .ant-btn {
                background: #2c3d8f;
                color: white;
            }
        }
    }

    .ant-layout-content {
        background: #f3f4f6;
        padding-block: 30px;
        padding-inline: 15rem;
        gap: 10px;
        height: 90vh;
        flex: 1;

        .ant-row {
            .ant-col {
                .dashboard-title {
                    font-weight: bolder;
                    font-size: 18px;
                    padding-bottom: 16px;
                }
                #tbl_wrapper {
                    .ant-col {
                        .ant-table-wrapper {
                            .ant-table {
                                .ant-table-container {
                                    .ant-table-content {
                                        .ant-table-thead {
                                            .ant-table-cell {
                                                text-align: center;
                                                color: #565d6d;
                                            }
                                        }
                                        .ant-table-tbody {
                                            .ant-table-row {
                                                .ant-table-cell {
                                                    font-size: 0.875rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .ant-flex {
                    margin-bottom: 16px;

                    .dashboard-title {
                        font-weight: bolder;
                        font-size: 18px;
                        padding: 0;
                    }
                    .ant-segmented {
                        .ant-segmented-group {
                            background: #dedfe3;
                            border-radius: 4px;
                            padding: 2px;

                            .ant-segmented-item-selected {
                                background: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}
