#PageDocuments {
    .ant-layout-content {
        padding-block: 30px;
        padding-inline: 12rem;
        gap: 10px;

        .ant-row {
            .ant-col {
                .ant-flex.document-sidebar {
                    background: #f8f9fa;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    height: 100%;

                    .title {
                        font-weight: bold;
                        margin-inline: 24px;
                        padding-block: 22px;
                        border-bottom: 1px solid #dee1e6;
                    }
                    .documents {
                        margin-block: 22px;
                        overflow-y: auto;

                        .ant-radio-group {
                            width: 100%;
                            height: 40vh;
                            flex: 1;

                            .ant-space {
                                width: 100%;
                                row-gap: 0px;
                                .ant-space-item {
                                    .ant-list {
                                        .ant-list-items {
                                            .ant-list-item {
                                                padding: 0;

                                                .ant-list-item-action {
                                                    margin: 0;

                                                    .ant-btn {
                                                        border: 0;
                                                        background: none;
                                                    }
                                                }
                                                .ant-radio-button-wrapper {
                                                    width: 100%;
                                                    border: 0;
                                                    border-radius: 0;
                                                    background: #f8f9fa;
                                                    display: flex;
                                                    height: 50px;
                                                    align-items: center;
                                                    padding-inline: 26px;

                                                    .ant-radio-button:hover {
                                                        color: #2c3d8f;
                                                    }
                                                    .ant-radio-button.ant-radio-button-checked {
                                                        background: #d9d9d9;
                                                    }
                                                }
                                                .ant-radio-button-wrapper-checked {
                                                    border: 0;
                                                    color: black;
                                                }
                                                .ant-radio-button-wrapper:hover {
                                                    color: black;
                                                    background: #d9d9d94e;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .ant-flex {
                        margin-inline: 22px;
                        padding-top: 22px;
                        margin-bottom: 40px;
                        border-top: 1px solid #dee1e6;
                        position: relative;
                        bottom: 0;

                        .ant-btn {
                            background: #2c3d8f;
                            border-radius: 4px;
                            color: white;
                            border: 1px solid #2c3d8f;
                        }
                        .ant-btn:hover {
                            background: white;
                            color: #2c3d8f;
                        }
                    }
                }
                .ant-flex.document-searchbar {
                    box-shadow: none;

                    .ant-input-group-wrapper {
                        width: 550px;

                        .ant-input-wrapper {
                            .ant-input {
                                height: 40px;
                                border: 1px solid #dee1e6;
                            }
                            .ant-input:hover {
                                border-color: #2c3d8f;
                            }
                            .ant-input:focus {
                                border-color: #2c3d8f;
                                box-shadow: 0 0 2px #2c488f;
                            }
                            .ant-input-group-addon {
                                .ant-btn {
                                    height: 40px;
                                    background: #2c3d8f;
                                    color: white;
                                    border: 1px solid #2c3d8f;
                                }
                                .ant-btn:hover {
                                    background: white;
                                    color: #2c3d8f;
                                }
                            }
                        }
                    }
                }
                .document-card {
                    width: 100%;
                    height: 100%;
                    background: #f1f1f1;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }
    }
}
