#PageDocuments {
    .ant-layout-content {
        padding-block: 30px;
        padding-inline: 18rem;
        gap: 10px;
        height: 90vh;

        .ant-row {
            box-shadow: 2px 4px 8px rgba(23, 26, 31, 0.12);

            .ant-col {
                .ant-flex.document-sidebar {
                    background: #f8f9fa;

                    .title {
                        font-weight: bold;
                        margin-inline: 24px;
                        padding-block: 22px;
                        border-bottom: 1px solid #dee1e6;
                    }
                    .documents {
                        margin-block: 22px;

                        .ant-radio-group {
                            width: 100%;
                            height: 40vh;
                            flex: 1;

                            .ant-space {
                                width: 100%;
                                row-gap: 0px;
                                .ant-space-item {
                                    .ant-radio-button-wrapper {
                                        width: 100%;
                                        border: 0;
                                        border-radius: 0;
                                        background: #f8f9fa;
                                        display: flex;
                                        height: 50px;
                                        align-items: center;
                                        padding-inline: 26px;

                                        .ant-radio-button:hover {
                                            color: #2c3d8f;
                                        }
                                        .ant-radio-button.ant-radio-button-checked {
                                            background: #d9d9d9;
                                        }
                                    }
                                    .ant-radio-button-wrapper-checked {
                                        border: 0;
                                        color: black;
                                    }
                                    .ant-radio-button-wrapper:hover {
                                        color: black;
                                        background: #d9d9d94e;
                                    }
                                }
                            }
                        }
                    }
                    .ant-flex {
                        margin-inline: 22px;
                        padding-top: 22px;
                        border-top: 1px solid #dee1e6;

                        .ant-btn {
                            background: #2c3d8f;
                            height: 40px;
                            border-radius: 4px;
                            color: white;
                            border: none;
                        }

                        .ant-flex {
                            border: 0;
                            padding-top: 0;
                            padding-bottom: 40px;
                            margin: 0;

                            span {
                                font-size: small;
                            }
                        }
                    }
                }
                .document-card {
                    width: 100%;
                    height: 100%;
                    background: #f1f1f1;
                    display: flex;
                    top: 0;
                    padding: 25px 100px 25px 100px;
                    justify-content: center;
                }
            }
        }
    }
}
